 body{
     padding: 0px;
     margin: 0px;
     background-color: cornflowerblue;
 }
 #container{
     background-color: cornflowerblue;
  
     padding: 5%;
    
     
 }
 #mainBox{
             width: 80%;
             
             background-color: #999999;
             padding: 2%;
              margin: auto;
         }
#header{
    width: 100%;
    text-align: center;
}         
.memory-boxes{
             background-color: yellow;
             border: #000 1px solid;
             width: 90px;
             height: 90px;
             float: left;
             margin: 1%;
             font-size: 250%;
             padding: 2%;
             cursor: pointer;
             text-align: center;
             
         } 
         